.columns-wrapper {
  display: flex;
  justify-content: space-around;

  .list-element {
    display: block;
    padding: 5px 15px;
    background: #ee2560;
  }

  .green {
    background: #4f953b;
  }
}